/* Прелоадер */

.preloader {
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:99;
	background:#fff;
	display:none;
}

.preloader .preloader_block {
	position:absolute;
	width:100%;
	left:0px;
	top:50%;
	-webkit-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	transform:translate(0,-50%);
}

.preloader .preloader_spinner {
	-webkit-border-radius:100%;
	border-radius:100%;
	border:5px solid #BDC3C7;
	border-top-color:#3498DB;
	width:60px;
	height:60px;
	margin:0 auto 20px auto;
	-webkit-animation:spin 1s infinite linear;
	animation:spin 1s infinite linear;
	position:relative;
}

.preloader .preloader_text {
	text-align:center;
	font-size:24px;
	line-height:24px;
	color:#BDC3C7;
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Прелоадер - конец */

/* Шрифты */

@font-face {
	font-family:'Roboto';
	src:local('Roboto'),
		local('Roboto-Regular'),
		url('../fonts/Roboto.woff2') format('woff2'),
		url('../fonts/Roboto.woff') format('woff'),
		url('../fonts/Roboto.ttf') format('truetype');
	font-weight:400;
	font-style:normal;
}

/* Шрифты - конец */

/* Eric Meyer's Reset CSS v2.0 */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align: baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;} body {line-height:1;} ol, ul {list-style:none;} blockquote, q {quotes:none;} blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;} table {border-collapse:collapse; border-spacing: 0;} input,textarea {outline:none;}
/* Eric Meyer's Reset CSS v2.0 end */

/*** ОБЩЕЕ ***/
* {
	margin:0;
	padding:0;
	outline:none;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	font-size:100%;
	margin:0;
	padding:0;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	text-size-adjust:100%;
	height:100%;
	min-width:320px;
	position:relative;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
	background:#fff;
	color:#000;
	font-family:'Roboto';
	cursor:default;
}

body.fixed {
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
}

/* Контейнер */

.wrapper {
	position:relative;
	width:100%;
	max-width:100%;
	min-width:320px;
	min-height:100%;
	overflow:hidden;
	margin:0 auto;
}

.inner {
	width:100%;
	max-width:1200px;
	margin:0 auto;
	padding:0px 20px;
	position:relative;
	z-index:3;
}

.inner:after, .clearfix:after {
	content:'';
	width:0;
	height:0;
	visibility:hidden;
	opacity:0;
	display:block;
	clear:both;
	position:absolute;
	font-size:0px;
	line-height:0px;
}

.clear {
	width:0;
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	position:relative;
	font-size:0px;
	line-height:0px;
}

.section, section, header, footer {
	width:100%;
	position:relative;
}

/* Контейнер - конец*/

b {
	font-weight:normal;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

a, .btn {
	cursor:pointer;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.btn:active {
	-webkit-transform:scale(0.98,0.98);
	-ms-transform:scale(0.98,0.98);
	transform:scale(0.98,0.98);
}

.noselect {-webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

.disabled {pointer-events:none; cursor:default!important;}

img {
	width:100%;
	display:block;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	opacity:1;
}

img[data-src] {
	opacity:0;
}

/* Инпуты */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {opacity:0.5; text-align:center;}
input::-moz-placeholder, textarea::-moz-placeholder {opacity:0.5; text-align:center;}
textarea::-webkit-input-placeholder {text-align:left!important; opacity:0.5;}
textarea::-moz-placeholder {text-align:left!important; opacity:0.5;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input::-moz-placeholder, textarea::-moz-placeholder {opacity:1;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {opacity:0;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {opacity:0;}
label {display:block; position:relative;}
input, textarea {-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;-webkit-border-radius:0px;border-radius:0px;}
textarea {resize:none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance:none;
}

input[type='number'] {
	-moz-appearance:textfield;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
	-webkit-box-shadow:0 0 0 1000px #fff inset!important;
}

label.label-input {
	padding:18px 0 8px 0;
	position:relative;
	cursor:text;
}

label.label-input:before,
label.label-input:after {
	display:block;
	content:'';
	position:absolute;
	bottom:0px;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

label.label-input:before {
	z-index:1;
	height:1px;
	width:100%;
	background:#BDC3C7;
	left:0px;
}

label.label-input:after {
	z-index:2;
	height:2px;
	width:0px;
	background:#33bbff;
	left:50%;
}

label.label-input input,
label.label-input textarea {
	height:20px;
	padding:0;
	width:100%;
	display:block;
	color:#000;
	font-size:16px;
	line-height:20px;
	font-family:'Roboto';
	font-weight:400;
	text-align:left;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:none;
	background:transparent;
	position:relative;
	z-index:1;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

label.label-input .placeholder {
	position:absolute;
	z-index:2;
	font-size:16px;
	line-height:16px;
	font-family:'Roboto';
	font-weight:400;
	height:16px;
	color:#33bbff;
	left:0px;
	bottom:10px;
	cursor:text;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

label.label-input.active .placeholder {
	bottom:30px;
	font-size:13px;
	line-height:13px;
}

label.label-input.active:after,
label.label-input.focused:after {
	width:100%;
	left:0px;
}

.form_field.form_field-error label.label-input:before,
.form_field.form_field-error label.label-input:after {
	background:#f00!important;
}

.form_field.form_field-error label.label-input .placeholder,
.form_field.form_field-error label.label-input input,
.form_field.form_field-error label.label-input textarea {
	color:#f00!important;
}

/* Инпуты - конец */

/* Ошибки валидатора */

.form_field {
	margin-bottom:10px;
}

.form_field .form_error {
	color:#f00;
	font-size:12px;
	line-height:14px;
	display:none;
	text-align:left;
	padding-top:10px;
}

.form_field .form_error p {
	margin-bottom:5px;
}

.form_field .form_error p:last-child {
	margin-bottom:0px;
}

.form_field.form_field-error .form_error {
	display:block;
}

/* Ошибки валидатора - конец */

/* Селекты */

.select {
	position:relative;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

.select .trigger {
	width:100%;
	position:relative;
	z-index:1;
	cursor:pointer;
}

.select .trigger:after {
	display:block;
	content:'';
	position:absolute;
}

.select ul.options {
	width:100%;
	position:absolute;
	opacity:0;
	visibility:hidden;
	top:100%;
	z-index:1;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.select.overflowing ul.options {
	top:auto;
	bottom:100%;
}

.select ul.options li {
	width:100%;
	cursor:pointer;
	white-space:nowrap;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.select.active ul.options {
	opacity:1;
	visibility:visible;
	top:100%;
}

.select.overflowing.active ul.options {
	top:auto;
	bottom:100%;
}

/* Селекты - конец */

/* Кнопки */



/* Кнопки - конец */

/*** ОБЩЕЕ - конец ***/

/*** СТРАНИЦЫ ***/



/*** СТРАНИЦЫ - конец ***/

/*** ПОПАПЫ ***/

.popups {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow:hidden;
	overflow-y:auto;
	padding:10px 0;
	text-align:center;
	line-height:100%;
	background:rgba(0,0,0,0.7);
}

.popup {
	display:none;
	z-index:5;
	padding:30px;
	background:#fff;
	width:100%;
	width:-webkit-calc(100% - 20px);
	width:calc(100% - 20px);
	max-width:400px;
	position:absolute;
	left:50%;
	-webkit-box-shadow:0px 0px 25px rgba(0,0,0,0.5);
	box-shadow:0px 0px 25px rgba(0,0,0,0.5);
}

.popup_close {
	position:absolute;
	z-index:3;
	width:22px;
	height:22px;
	right:20px;
	top:20px;
	cursor:pointer;
	opacity:0.5;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.popup_close:before,
.popup_close:after {
	display:block;
	position:absolute;
	content:'';
	width:100%;
	height:2px;
	left:0px;
	top:10px;
	background:#000;
}

.popup_close:before {
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}

.popup_close:after {
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

.popup_close:hover {
	opacity:1;
}

.popup_h1 {
	font-size:20px;
	line-height:24px;
	margin-bottom:15px;
}

.popup_h2 {
	font-size:16px;
	line-height:20px;
	margin-bottom:20px;
}

.popup.popup-video {
	padding:0!important;
	max-width:800px;
}

.popup.popup-video .pv_video {
	width:100%;
	height:0px;
	padding-bottom:56.25%;
	position:relative;
}

.popup.popup-video iframe {
	width:100%!important;
	height:100%!important;
	position:absolute;
	left:0px;
	top:0px;
}

/*** ПОПАПЫ - конец ***/