**/#src/fonts
**/#src/images/**/*
**/#src/data/timestamp.txt
**/.vscode
**/node_modules
*.zip
*.pdf
*.doc
*.sublime-project
*.sublime-workspace
**.txt
*.code-workspace
**/1template-php/1template-php/
**/1template-html/1template-html/