**/#src/fonts
**/#src/images/**/*
**/.vscode
**/node_modules
*.zip
*.pdf
*.doc
*.sublime-project
*.sublime-workspace
*.txt
!**/timestamp.txt
*.code-workspace
**/1template-php/1template-php/
**/1template-html/1template-html/