
.ui-input {
	padding:18px 0 8px 0;
	position:relative;
	cursor:text;

	&:before,
	&:after {
		display:block;
		content:'';
		position:absolute;
		bottom:0;
		transition:all .2s;
	}

	&:before {
		height:1px;
		width:100%;
		background:#BDC3C7;
		left:0;
	}

	&:after {
		height:2px;
		width:0;
		background:#33bbff;
		left:50%;
	}

	& input,
	& textarea {
		height:20px;
		padding:0;
		width:100%;
		display:block;
		color:#000;
		font-size:16px;
		line-height:20px;
		font-weight:400;
		text-align:left;
		box-shadow:none;
		border:none;
		background:transparent;
		position:relative;
		transition:all .2s;
	}

	& input {

	}

	& textarea {

	}

	&__placeholder {
		position:absolute;
		width:100%;
		overflow:hidden;
		text-overflow:ellipsis;
		font-size:16px;
		line-height:16px;
		font-weight:400;
		text-align:left;
		color:#33bbff;
		left:0;
		top:20px;
		cursor:text;
		pointer-events:none;
		transition:all .2s;
	}

	&.active &__placeholder {
		top:0;
		font-size:13px;
	}

	&.active:after,
	&.focused:after {
		width:100%;
		left:0;
	}

	.ui-form-field--error &:before,
	.ui-form-field--error &:after {
		background:#f00!important;
	}
}

.ui-form-field--error .ui-input__placeholder,
.ui-form-field--error input,
.ui-form-field--error textarea {
	color:#f00!important;
}