input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

textarea::-webkit-input-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

textarea::-moz-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity: 1;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	opacity: 1;
}

label {
	display: block;
	position: relative;
}

input,
textarea,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
}

textarea {
	resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance:none;
}

input[type='number'] {
	-moz-appearance:textfield;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
	-webkit-box-shadow:0 0 0 1000px #fff inset!important;
}

@import "../modules/cheg.inputs/css.scss";

.ui-form-field {
	position:relative;
	margin-bottom:10px;

	&--btn,
	&:last-child {
		margin-bottom:0!important;
	}
}

@import "../modules/cheg.forms/css.scss";